$base-color: darkcyan;
$white-color: white;
$light-color: #ebebeb;
$dark-color: #444444;
$danger-color: #eb4034;
$warning-color: #f2964b;
$success-color: #32a852;

$shadow: 4px 4px 10px 1px gray;
$hover-shadow: 7px 7px 12px 2px gray;

html, body {
}
.color{
  &-light {
    color: $white-color;
  }
  &-dark {
    color: $dark-color;
  }
}
.background {
  &-base {
    background-color: $base-color;
  }
}
.border-radius {
  border-radius: 5px;
}
.custom-shadow {
  box-shadow: $shadow;
}